os
uuid
sys
ctypes
subprocess
google.generativeai as genai
PyPDF2
streamlit as st
from datetime import datetime
pyttsx3
speech_recognition as sr
pytz
requests
tempfile
re
json
shutil
platform
from streamlit.components.v1 import html
